#add {
  max-width: 50em;
  margin: 0 auto;
  margin-top: 10vw;
  width: inherit;
}

.add-item {
  display: block;
  width: 25em;
  font-size: 1em;
  margin: 0.5em auto;
}

#add-input {
  display: block;
  width: 25em;
  margin: 1em auto;
}

#add-button {

  display: block;
  width: 25em;
  margin: 1em auto;
}